.ref\:image-container {
  /* TODO: test with responsive container */
  position: relative;
}

.ref\:image {
  display: block;
  /* TODO: */
  /* aspect-ratio: attr(width) / attr(height); */
  aspect-ratio: var(--image-aspect-ratio);
  /* aspect-ratio: inherit; */
  width: 100%;
  height: 100%;
  opacity: 1;
}
