/* Common */
.button {
  --__shadow-color: var(--color-scale-blue-1);
  background-color: transparent;
  /* TODO: add border-radius token */
  border-radius: var(--spacing-xxxs);
  border: 1px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  padding: none;
  height: max-content;
  transition: background-color 0.2s ease, color 0.2s ease;
  position: relative;
  width: max-content;
  &:focus:not(:active) {
    box-shadow: 0 0 0 2px var(--__shadow-color);
  }
}

/* Size */
.small {
  font-size: var(--font-size-xxs);
  /* min-height: var(--spacing-s); */
  padding: var(--spacing-xxxs) var(--spacing-xs);
}

.medium {
  font-size: var(--font-size-xs);
  /* min-height: var(--spacing-m); */
  padding: var(--spacing-xxs) var(--spacing-s);
}

.large {
  font-size: var(--font-size-s);
  /* min-height: var(--spacing-l); */
  padding: var(--spacing-xxs) var(--spacing-m);
}

/* wave effect */

.primary {
  --__wave-color: var(--color-scale-blue-4);
}

.secondary {
  --__wave-color: var(--color-scale-pink-4);
}

.success {
  --__wave-color: var(--color-scale-green-4);
}

.warning {
  --__wave-color: var(--color-scale-yellow-4);
}

.error {
  --__wave-color: var(--color-scale-red-4);
}

.neutral {
  --__wave-color: var(--color-scale-gray-4);
}

/* Stretch */
.stretch {
  width: 100%;
}

/* Shape */
.circle {
  &.small {
    border-radius: var(--spacing-s);
  }

  &.medium {
    border-radius: var(--spacing-m);
  }

  &.large {
    border-radius: var(--spacing-l);
  }
}

/* Variant */
.solid {
  color: var(--color-scale-white);

  &.primary {
    background-color: var(--color-scale-blue-4);
    &:hover {
      background-color: var(--color-scale-blue-3);
    }
  }

  &.secondary {
    --__shadow-color: var(--color-scale-pink-1);
    background-color: var(--color-scale-pink-4);
    &:hover {
      background-color: var(--color-scale-pink-3);
    }
  }

  &.success {
    --__shadow-color: var(--color-scale-green-1);
    background-color: var(--color-scale-green-4);
    &:hover {
      background-color: var(--color-scale-green-3);
    }
  }

  &.warning {
    --__shadow-color: var(--color-scale-yellow-1);
    background-color: var(--color-scale-yellow-4);
    &:hover {
      background-color: var(--color-scale-yellow-3);
    }
  }

  &.error {
    --__shadow-color: var(--color-scale-red-1);
    background-color: var(--color-scale-red-4);
    &:hover {
      background-color: var(--color-scale-red-3);
    }
  }

  &.neutral {
    --__shadow-color: var(--color-scale-gray-1);
    background-color: var(--color-scale-gray-4);
    &:hover {
      background-color: var(--color-scale-gray-3);
    }
  }
}

.outlined {
  border: 1px solid currentColor;

  &.primary {
    --__shadow-color: var(--color-scale-blue-1);
    color: var(--color-scale-blue-4);
    &:hover {
      background-color: var(--color-scale-blue-0);
    }
  }

  &.secondary {
    --__shadow-color: var(--color-scale-pink-1);
    color: var(--color-scale-pink-3);
    &:hover {
      background-color: var(--color-scale-pink-0);
    }
  }

  &.success {
    --__shadow-color: var(--color-scale-green-1);
    color: var(--color-scale-green-4);
    &:hover {
      background-color: var(--color-scale-green-0);
    }
  }

  &.warning {
    --__shadow-color: var(--color-scale-yellow-1);
    color: var(--color-scale-yellow-4);
    &:hover {
      background-color: var(--color-scale-yellow-0);
    }
  }

  &.error {
    --__shadow-color: var(--color-scale-red-1);
    color: var(--color-scale-red-4);
    &:hover {
      background-color: var(--color-scale-red-0);
    }
  }

  &.neutral {
    --__shadow-color: var(--color-scale-gray-1);
    color: var(--color-scale-gray-4);
    &:hover {
      background-color: var(--color-scale-gray-1);
    }
  }
}

.ghost {
  &.primary {
    --__shadow-color: var(--color-scale-blue-1);
    color: var(--color-scale-blue-4);
    &:focus,
    &:hover {
      background-color: var(--color-scale-blue-0);
    }
  }

  &.secondary {
    --__shadow-color: var(--color-scale-pink-1);
    color: var(--color-scale-pink-4);
    &:focus,
    &:hover {
      background-color: var(--color-scale-pink-0);
    }
  }

  &.success {
    --__shadow-color: var(--color-scale-green-1);
    color: var(--color-scale-green-4);
    &:focus,
    &:hover {
      background-color: var(--color-scale-green-0);
    }
  }

  &.warning {
    --__shadow-color: var(--color-scale-yellow-1);
    color: var(--color-scale-yellow-4);
    &:focus,
    &:hover {
      background-color: var(--color-scale-yellow-0);
    }
  }

  &.error {
    --__shadow-color: var(--color-scale-red-1);
    color: var(--color-scale-red-4);
    &:focus,
    &:hover {
      background-color: var(--color-scale-red-0);
    }
  }

  &.neutral {
    --__shadow-color: var(--color-scale-gray-2);
    color: var(--color-scale-gray-4);
    &:focus,
    &:hover {
      background-color: var(--color-scale-gray-1);
    }
  }
}

.link {
  --__main-color: transparent;
  &.link {
    box-shadow: none;
  }
  &:active,
  &:hover {
    text-decoration: underline;
  }

  &.primary {
    color: var(--color-scale-blue-4);
    &:focus,
    &:hover {
      color: var(--color-scale-blue-3);
    }
  }

  &.secondary {
    --__main-color: transparent;
    color: var(--color-scale-pink-4);
    &:focus,
    &:hover {
      color: var(--color-scale-pink-3);
    }
  }

  &.success {
    color: var(--color-scale-green-4);
    &:focus,
    &:hover {
      color: var(--color-scale-green-3);
    }
  }

  &.warning {
    color: var(--color-scale-yellow-4);
    &:focus,
    &:hover {
      color: var(--color-scale-yellow-3);
    }
  }

  &.error {
    color: var(--color-scale-red-4);
    &:focus,
    &:hover {
      color: var(--color-scale-red-3);
    }
  }

  &.neutral {
    --__main-color: transparent;
    color: var(--color-scale-gray-4);
    &:focus,
    &:hover {
      color: var(--color-scale-gray-3);
    }
  }
}

/* Disabled */
.disabled {
  opacity: 0.7;
  cursor: default;
}
