/* Common */
.ref\:button {
  --__shadow-color: var(--color-scale-blue-1);
  background-color: transparent;
  /* TODO: add border-radius token */
  border-radius: var(--spacing-xxxs);
  border: 1px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  padding: none;
  height: max-content;
  transition: background-color 0.2s ease, color 0.2s ease;
  position: relative;
  width: max-content;

  &:focus {
    box-shadow: 0 0 0 2px var(--__shadow-color);
  }
}

/* Size */
.ref\:button-size-small {
  font-size: var(--font-size-xxs);
  padding: var(--spacing-xxxs) var(--spacing-xs);
}

.ref\:button-size-medium {
  font-size: var(--font-size-xs);
  padding: var(--spacing-xxs) var(--spacing-s);
}

.ref\:button-size-large {
  font-size: var(--font-size-s);
  padding: var(--spacing-xxs) var(--spacing-m);
}

/* wave effect */

.ref\:button-color-primary {
  --__wave-color: var(--color-scale-blue-4);
}

.ref\:button-color-secondary {
  --__wave-color: var(--color-scale-pink-4);
}

.ref\:button-color-success {
  --__wave-color: var(--color-scale-green-4);
}

.ref\:button-color-warning {
  --__wave-color: var(--color-scale-yellow-4);
}

.ref\:button-color-error {
  --__wave-color: var(--color-scale-red-4);
}

.ref\:button-color-neutral {
  --__wave-color: var(--color-scale-gray-4);
}

/* Stretch */
.ref\:button-stretch {
  width: 100%;
}

/* Shape */
.ref\:button-circle {
  &.ref\:button-size-small {
    border-radius: var(--spacing-s);
  }

  &.ref\:button-size-medium {
    border-radius: var(--spacing-m);
  }

  &.ref\:button-size-large {
    border-radius: var(--spacing-l);
  }
}

/* Variant */
.ref\:button-variant-solid {
  color: var(--color-scale-white);

  &.ref\:button-color-primary {
    background-color: var(--color-scale-blue-4);
    &:hover {
      background-color: var(--color-scale-blue-3);
    }
  }

  &.ref\:button-color-secondary {
    --__shadow-color: var(--color-scale-pink-1);
    background-color: var(--color-scale-pink-4);
    &:hover {
      background-color: var(--color-scale-pink-3);
    }
  }

  &.ref\:button-color-success {
    --__shadow-color: var(--color-scale-green-1);
    background-color: var(--color-scale-green-4);
    &:hover {
      background-color: var(--color-scale-green-3);
    }
  }

  &.ref\:button-color-warning {
    --__shadow-color: var(--color-scale-yellow-1);
    background-color: var(--color-scale-yellow-4);
    &:hover {
      background-color: var(--color-scale-yellow-3);
    }
  }

  &.ref\:button-color-error {
    --__shadow-color: var(--color-scale-red-1);
    background-color: var(--color-scale-red-4);
    &:hover {
      background-color: var(--color-scale-red-3);
    }
  }

  &.ref\:button-color-neutral {
    --__shadow-color: var(--color-scale-gray-1);
    background-color: var(--color-scale-gray-4);
    &:hover {
      background-color: var(--color-scale-gray-3);
    }
  }
}

.ref\:button-variant-outlined {
  border: 1px solid currentColor;

  &.ref\:button-color-primary {
    --__shadow-color: var(--color-scale-blue-1);
    color: var(--color-scale-blue-4);
    &:hover {
      background-color: var(--color-scale-blue-0);
    }
  }

  &.ref\:button-color-secondary {
    --__shadow-color: var(--color-scale-pink-1);
    color: var(--color-scale-pink-3);
    &:hover {
      background-color: var(--color-scale-pink-0);
    }
  }

  &.ref\:button-color-success {
    --__shadow-color: var(--color-scale-green-1);
    color: var(--color-scale-green-4);
    &:hover {
      background-color: var(--color-scale-green-0);
    }
  }

  &.ref\:button-color-warning {
    --__shadow-color: var(--color-scale-yellow-1);
    color: var(--color-scale-yellow-4);
    &:hover {
      background-color: var(--color-scale-yellow-0);
    }
  }

  &.ref\:button-color-error {
    --__shadow-color: var(--color-scale-red-1);
    color: var(--color-scale-red-4);
    &:hover {
      background-color: var(--color-scale-red-0);
    }
  }

  &.ref\:button-color-neutral {
    --__shadow-color: var(--color-scale-gray-1);
    color: var(--color-scale-gray-4);
    &:hover {
      background-color: var(--color-scale-gray-1);
    }
  }
}

.ref\:button-variant-ghost {
  &.ref\:button-color-primary {
    --__shadow-color: var(--color-scale-blue-1);
    color: var(--color-scale-blue-4);
    &:focus,
    &:hover {
      background-color: var(--color-scale-blue-0);
    }
  }

  &.ref\:button-color-secondary {
    --__shadow-color: var(--color-scale-pink-1);
    color: var(--color-scale-pink-4);
    &:focus,
    &:hover {
      background-color: var(--color-scale-pink-0);
    }
  }

  &.ref\:button-color-success {
    --__shadow-color: var(--color-scale-green-1);
    color: var(--color-scale-green-4);
    &:focus,
    &:hover {
      background-color: var(--color-scale-green-0);
    }
  }

  &.ref\:button-color-warning {
    --__shadow-color: var(--color-scale-yellow-1);
    color: var(--color-scale-yellow-4);
    &:focus,
    &:hover {
      background-color: var(--color-scale-yellow-0);
    }
  }

  &.ref\:button-color-error {
    --__shadow-color: var(--color-scale-red-1);
    color: var(--color-scale-red-4);
    &:focus,
    &:hover {
      background-color: var(--color-scale-red-0);
    }
  }

  &.ref\:button-color-neutral {
    --__shadow-color: var(--color-scale-gray-2);
    color: var(--color-scale-gray-4);
    &:focus,
    &:hover {
      background-color: var(--color-scale-gray-1);
    }
  }
}

.ref\:button-variant-link {
  --__main-color: transparent;
  &.link {
    box-shadow: none;
  }
  &:active,
  &:hover {
    text-decoration: underline;
  }

  &.ref\:button-color-primary {
    color: var(--color-scale-blue-4);
    &:focus,
    &:hover {
      color: var(--color-scale-blue-3);
    }
  }

  &.ref\:button-color-secondary {
    --__main-color: transparent;
    color: var(--color-scale-pink-4);
    &:focus,
    &:hover {
      color: var(--color-scale-pink-3);
    }
  }

  &.ref\:button-color-success {
    color: var(--color-scale-green-4);
    &:focus,
    &:hover {
      color: var(--color-scale-green-3);
    }
  }

  &.ref\:button-color-warning {
    color: var(--color-scale-yellow-4);
    &:focus,
    &:hover {
      color: var(--color-scale-yellow-3);
    }
  }

  &.ref\:button-color-error {
    color: var(--color-scale-red-4);
    &:focus,
    &:hover {
      color: var(--color-scale-red-3);
    }
  }

  &.ref\:button-color-neutral {
    --__main-color: transparent;
    color: var(--color-scale-gray-4);
    &:focus,
    &:hover {
      color: var(--color-scale-gray-3);
    }
  }
}

/* Disabled */
.ref\:button-disabled {
  opacity: 0.7;
  cursor: default;
}
