.ref\:menu-list {
  list-style-type: none;
  margin: 0;
  padding: var(--spacing-xxs) 0;
  border-radius: 4px;
  overflow-y: auto;
  outline: none;

  /* Do we realy need max-height */
  max-height: calc(100vh - 96px);
}

.ref\:menu-list-hidden {
  border: 0;
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
