.list {
  list-style-type: none;
  margin: 0;
  padding: var(--spacing-xxs) 0;
  border-radius: 4px;
  transition: box-shadow 0.2s ease;
  overflow-y: auto;
  max-height: calc(100vh - 96px);

  /* &:focus-within {
    box-shadow: 0 0 0 2px var(--color-scale-blue-0);
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--color-scale-blue-1);
  } */
}
