:root {
  /* font-family */
  --font-family-primary: Trebuchet MS, sans-serif;
  --font-family-secondary: Times New Roman, serif;
  --font-family-curcive: Bradley Hand, cursive;
  --font-family-monocpace: Monaco, monocpace;
  /* font-size */
  --font-size-xxxs: 12px;
  --font-size-xxs: 14px;
  --font-size-xs: 16px;
  --font-size-s: 18px;
  --font-size-m: 20px;
  --font-size-l: 22px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;
  --font-size-xxxl: 40px;
  /* font-weight  */
  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  /* aliases of numeric properties */
  --font-weight-x-light: 100;
  --font-weight-light: 200;
  --font-weight-regular: 300;
  --font-weight-medium: 400;
  --font-weight-semi-bold: 500;
  --font-weight-bold: 600;
  --font-weight-black: 700;
}
