:root {
  /* spacing */
  --spacing-xxx-small: 4px;
  --spacing-xx-small: 8px;
  --spacing-x-small: 16px;
  --spacing-small: 24px;
  --spacing-medium: 32px;
  --spacing-large: 40px;
  --spacing-x-large: 48px;
  --spacing-xx-large: 56px;
  --spacing-xxx-large: 64px;
  /* icon size */
  --icon-small: 16px;
  --icon-medium: 24px;
  --icon-large: 30px;
}
