.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.combobox {
  border-radius: var(--spacing-xxxs);
  border: 1px solid var(--color-scale-gray-4);
  cursor: pointer;
  font-size: var(--font-size-xs);
  padding: var(--spacing-xxs) var(--spacing-xs);
  transition: border-color 0.2s, outline 0.2s;
  outline: 1px solid transparent;

  &[aria-disabled='true'] {
    cursor: default;
  }

  &.placeholder {
    color: var(--color-scale-gray-4);
  }

  &:focus,
  &:focus-within,
  &:hover {
    border-color: var(--color-scale-blue-4);
    outline: 1px solid var(--color-scale-blue-3);
  }
}
