.item {
  --color: red;

  color: var(--color-scale-black);
  font-size: var(--font-size-xs);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  cursor: pointer;
  padding: var(--spacing-xxs) var(--spacing-xxs);
}

.highlighted:not(.selected) {
  &:active {
    background-color: var(--color-scale-blue-1);
  }

  background-color: var(--color-scale-blue-0);
}

.selected {
  color: var(--color-scale-white);
  background-color: var(--color-scale-blue-4);
}

.disabled {
  cursor: default;
  color: var(--color-scale-gray-2);
}
