.fade {
  transition: opacity 200ms ease;
  opacity: 0;

  &.fade-enter {
    opacity: 0;
  }

  &.fade-enter-active,
  &.fade-enter-done {
    opacity: 1;
  }

  &.fade-exit {
    opacity: 1;
  }

  &.fade-exit-active,
  &.fade-exit-done {
    opacity: 0;
  }
}
