.active {
  --wave: inherit;
  &:after {
    animation: var(
      --wave,
      fade 2s cubic-bezier(0.08, 0.82, 0.17, 1) both,
      wave 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) both
    );
    border-radius: inherit;
    bottom: 0;
    box-shadow: 0 0 0 0 var(--__main-color);
    content: '';
    display: block;
    left: 0;
    opacity: 0.2;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@keyframes wave {
  100% {
    box-shadow: 0 0 0 5px var(--__main-color);
  }
}

@keyframes fade {
  100% {
    opacity: 0;
  }
}
