.ref\:avatar-container {
  aspect-ratio: 1 / 1;
  background-color: transparent;
  position: relative;
  height: 100%;
  width: 100px;

  &.ref\:avatar-size-s {
    width: 100px;
  }

  &.ref\:avatar-size-m {
    width: 150px;
  }

  &.ref\:avatar-size-l {
    width: 200px;
  }
}

.ref\:avatar-picture {
  width: 100%;
  height: 100%;
  border-radius: 100%;

  text-align: center;
  /* Handle non-square image. */
  object-fit: cover;
  /* Hide alt text. */
  color: transparent;
}
