.snackbar {
  align-items: center;
  background-color: var(--__background-color);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--color-scale-white);
  display: flex;
  margin-top: 16px;
  max-width: max-content;
  min-height: 50px;
  padding: 8px 16px;
  pointer-events: auto;

  &.info {
    --__background-color: var(--color-scale-blue-4);
  }

  &.warning {
    --__background-color: var(--color-scale-yellow-4);
  }

  &.success {
    --__background-color: var(--color-scale-green-4);
  }

  &.error {
    --__background-color: var(--color-scale-red-4);
  }
}

.icon {
  margin-right: 8px;
}
