.ref\:menu-item {
  color: var(--color-scale-black);
  cursor: pointer;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  padding: var(--spacing-xxs) var(--spacing-s);

  /* position: relative; */
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover,
  &:focus {
    background-color: var(--color-scale-gray-1);
  }
}

.ref\:menu-item-disabled {
  &:hover {
    background-color: var(--color-scale-gray-0);
  }

  cursor: default;
  color: var(--color-scale-gray-2);
  background-color: var(--color-scale-gray-0);
}

.ref\:menu-item-divider {
  border-bottom: 1px solid var(--color-scale-black-1);
}
