.ref\:badge-container {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* or inline-flex */
  display: inline-flex;
}

.ref\:badge {
  position: absolute;
  /* allows to take the size of children */
  display: inline-flex;
  /* Should be overwritten by className provided to the component */
  min-width: var(--badge-size, 10px);
  min-height: var(--badge-size, 10px);
}

.ref\:status {
  border: 3px solid var(--color-scale-white);
  box-sizing: border-box;
  border-radius: 50%;
  background-color: currentColor;
  color: currentColor;

  &.ref\:status-animated {
    &::after {
      animation: ripple 1.2s infinite cubic-bezier(0.38, 0.87, 0.6, 1.04);
      background: radial-gradient(
        circle,
        rgba(0, 0, 0, 0) 30%,
        currentColor 100%
      );
      border-radius: 50%;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.ref\:status-online {
  color: var(--color-scale-green-4);
}

.ref\:status-offline {
  color: var(--color-scale-gray-2);
}

.ref\:status-away {
  color: var(--color-scale-yellow-4);
}

.ref\:status-busy {
  color: var(--color-scale-red-4);
}

.ref\:badge-top-left {
  inset: 15% auto auto 15%;
  transform: scale(1) translate(-50%, -50%);
  transform-origin: 0% 0%;
}

.ref\:badge-top-right {
  inset: 15% 15% auto auto;
  transform: scale(1) translate(50%, -50%);
  transform-origin: 100% 0%;
}

.ref\:badge-bottom-left {
  inset: auto auto 15% 15%;
  transform: scale(1) translate(-50%, 50%);
  transform-origin: 0% 100%;
}

.ref\:badge-bottom-right {
  inset: auto 15% 15% auto;
  transform: scale(1) translate(50%, 50%);
  transform-origin: 100% 100%;
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }

  100% {
    transform: scale(2.4);
    opacity: 0;
  }
}
