.wrapper {
  border-radius: 4px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  background-color: var(background-color);
  min-height: 50px;
  box-sizing: border-box;

  &.info {
    background-color: var(--color-scale-blue-0);
    color: var(--color-scale-blue-7);
  }

  &.warning {
    background-color: var(--color-scale-yellow-0);
    color: var(--color-scale-yellow-7);
  }

  &.success {
    background-color: var(--color-scale-green-0);
    color: var(--color-scale-green-7);
  }

  &.error {
    background-color: var(--color-scale-red-0);
    color: var(--color-scale-red-7);
  }
}

.icon {
  margin-right: 8px;
  margin-top: -3px;
}
