.wrapper {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1;
  outline: none;
  cursor: pointer;

  & .checkbox {
    background-color: var(--color-scale-white);
    border-collapse: separate;
    border-radius: 2px;
    border: 1px solid var(--color-scale-gray-2);
    display: block;
    height: 16px;
    left: 0;
    position: relative;
    top: 0;
    transition: all 0.2s;
    width: 16px;
    z-index: 0;
  }

  & input {
    bottom: 0;
    cursor: pointer;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }

  & input:hover + .checkbox {
    border-color: var(--color-scale-blue-4);
  }

  /*
  * Checked and indeterminate checkbox
  */
  & input:indeterminate + .checkbox,
  & input:checked + .checkbox {
    background-color: var(--color-scale-blue-4);
    border-color: var(--color-scale-blue-4);
    box-shadow: 0 0 0 1.5px var(--color-scale-blue-1);

    &::after {
      border: 2px solid var(--color-scale-white);
      content: ' ';
      display: table;
      opacity: 1;
      position: absolute;
    }
  }

  /*
  * Checked checkbox
  */
  & input:checked + .checkbox::after {
    border-left: 0;
    border-top: 0;
    height: 9px;
    left: 20%;
    top: 43%;
    transform: rotate(45deg) translate(-50%, -50%);
    width: 5px;
  }

  /*
  * Indeterminate checkbox
  */
  & input:indeterminate + .checkbox::after {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    height: 1px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
  }

  /*
  * Disabled checkbox
  */
  & input:disabled + .checkbox {
    background-color: var(--color-scale-gray-1);
    border-color: var(--color-scale-gray-2);
    box-shadow: none;
    &:after {
      border-color: var(--color-scale-gray-2);
    }
  }
}
