/* Common */
.button {
  --__shadow-color: var(--color-scale-blue-1);
  background-color: transparent;
  /* TODO: add border-radius token */
  border-radius: var(--spacing-xxxs);
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  font-size: var(--font-size-xxs);
  outline: none;
  padding: none;
  transition: background-color 0.2s ease, color 0.2s ease;
  position: relative;
  &:focus,
  &:active {
    box-shadow: 0 0 0 1.5px var(--__shadow-color);
  }
}

/* Size */
.small {
  min-height: var(--spacing-s);
  padding: 0 var(--spacing-s);
}

.medium {
  min-height: var(--spacing-m);
  padding: 0 var(--spacing-m);
}

.large {
  font-size: var(--font-size-xs);
  min-height: var(--spacing-l);
  padding: 0 var(--spacing-m);
}

/* Stretch */
.stretch {
  width: 100%;
}

/* Shape */
.circle {
  &.small {
    border-radius: var(--spacing-s);
  }

  &.medium {
    border-radius: var(--spacing-m);
  }

  &.large {
    border-radius: var(--spacing-l);
  }
}

/* Variant */
.contained {
  color: var(--color-scale-white);
  &.primary {
    --__main-color: var(--color-scale-blue-4);
    background-color: var(--__main-color);
    &:not(:active)&:hover {
      background-color: var(--color-scale-blue-3);
    }
  }

  &.secondary {
    --__main-color: var(--color-scale-pink-4);
    --__shadow-color: var(--color-scale-pink-1);
    background-color: var(--__main-color);

    &:not(:active)&:hover {
      background-color: var(--color-scale-pink-3);
    }
  }

  &.neutral {
    --__main-color: var(--color-scale-gray-4);
    --__shadow-color: var(--color-scale-gray-1);
    background-color: var(--__main-color);

    &:not(:active)&:hover {
      background-color: var(--color-scale-gray-3);
    }
  }
}

.outlined {
  &.primary {
    --__main-color: var(--color-scale-blue-4);
    --__shadow-color: var(--color-scale-blue-1);
    border: 1px solid var(--__main-color);
    color: var(--__main-color);

    &:not(:active)&:hover {
      background-color: var(--color-scale-blue-0);
    }
  }

  &.secondary {
    --__main-color: var(--color-scale-pink-4);
    --__shadow-color: var(--color-scale-pink-1);
    border: 1px solid var(--__main-color);
    color: var(--__main-color);

    &:not(:active)&:hover {
      background-color: var(--color-scale-pink-0);
    }
  }

  &.neutral {
    --__main-color: var(--color-scale-gray-4);
    --__shadow-color: var(--color-scale-gray-1);
    border: 1px solid var(--__main-color);
    color: var(--__main-color);

    &:not(:active)&:hover {
      background-color: var(--color-scale-gray-0);
    }
  }
}

.text {
  &.primary {
    --__main-color: transparent;
    color: var(--color-scale-blue-4);
    &:focus,
    &:not(:active)&:hover {
      --__shadow-color: var(--color-scale-blue-1);
      color: var(--color-scale-blue-3);
    }
  }

  &.secondary {
    --__main-color: transparent;
    color: var(--color-scale-pink-4);
    &:focus,
    &:not(:active)&:hover {
      color: var(--color-scale-pink-3);
      --__shadow-color: var(--color-scale-pink-1);
    }
  }

  &.neutral {
    --__main-color: transparent;
    color: var(--color-scale-gray-4);
    &:focus,
    &:not(:active)&:hover {
      --__shadow-color: var(--color-scale-gray-1);
      color: var(--color-scale-gray-3);
    }
  }
}

/* Disabled */
.disabled {
  opacity: 0.7;
  cursor: default;
}
