.ref\:tab {
  color: var(--color-scale-black);
  cursor: pointer;
  outline: none;
  padding: 5px;
  padding: var(--spacing-xxs) var(--spacing-xs);

  &:focus {
    outline: 1px solid currentColor;
  }

  &.ref\:tab-active {
    color: currentColor;
    outline: 1px solid currentColor;
  }

  &.ref\:tab-disabled {
    color: var(--color-scale-gray-2);
    cursor: default;
  }
}

.ref\:tab-list {
  color: var(--color-scale-blue-4);
  display: flex;
  position: relative;
}

.ref\:tabs-ink {
  background-color: currentColor;
  bottom: 0;
  height: 1px;
  left: 0;
  position: absolute;
  transition: all 0.3s ease-out;
}
