.ref\:select-option {
  --color: red;

  color: var(--color-scale-black);
  cursor: pointer;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  padding: var(--spacing-xxs) var(--spacing-s);

  /* position: relative; */
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ref\:select-option-focused:not(.ref\:select-option-selected) {
  background-color: var(--color-scale-gray-1);
}

.ref\:select-option-selected {
  color: var(--color-scale-white);
  background-color: var(--color-scale-blue-4);
}

.ref\:select-option-disabled {
  cursor: default;
  color: var(--color-scale-gray-2);
}
